.env
.bundle
vendor
venv
private_data.json
public_data.json
coverage/
.DS_STORE
.vscode
*.code-workspace
*.sha256
bin/bin
bin/build_info
bin/cache
bin/doc
bin/extensions
bin/gems
bin/plugins
bin/specifications
doc
.yardoc